* {
    margin: 0;
    padding:0;
}

.container{
    
}

.navbar{
    text-align: center;
    display: flex;
    margin-top: 10px;
    padding: 10px;
    font-size: 25px;
    justify-content: center

}

.pgeName{
    font-size: 40px;
}

.contactInfo {
    margin-left: 10em;
    margin-top: 15px;
    display: flex;
}

img {
  width: 75%;
  margin-top: 40px;

}