* {
    margin: 0;
    padding:0;
     /* border: 1px solid orange; */ 
}
body {
 
}
.container{
    
}
.adLogo{
    margin-left: 10%;
}

.nav-link {
    color:#6c87a1;
    font-weight: bold;
}
.nav-tabs {
    color: #ded8d9;
}

.contactInfo {
    display: flex;
    margin-top: 5%;
}

.foot {
    width: 100%;
    height: 25px;
    background-color:#ded8d9;
    color: #6c87a1;
    text-align: center;
}