 *{
    border: 1px solid orange;
}  
body{
    background-color: rgb(48, 75, 99);
    
}
h4  {
    width: 55%;
    color: #ded8d9;
}

.adLogo> img {
    width: 60%;
    margin-top: 2%;
    margin-left: 20%;
    margin-bottom: 35px;
}

.nav-link {
    color:#99b7d3;
    font-weight: bold;

}
/* .nav-item {
    color: #84a5c4;
} */
.abt{
    color:#f0eced;
    text-decoration: underline;
    width: 80%;
    margin-left: 5%;
    margin-top: 30px;
}
.aboutAll {
    color:#f0eced;
    text-decoration: underline;
    padding-bottom: 12px;
    width: 80%;
    margin-left: 13%;
    text-decoration: none;
    text-align: center;
}
.projAll {
    margin-top: 120px;
    margin-bottom:35px;
    color: #647c93;
 }

.ProjText {
    color:#f0eced;
    text-decoration: underline;
    padding-bottom: 12px;
    width: 15%;
    margin-left: 5%;
}

.ProjCards{
    display: flex;
    justify-content: space-evenly;
}

.card-title{
    color:#f0eced;
}
.card-text{
    color:#f0eced;
}
.card-body{
     background-color: #21405c;
}

.githubLogo > img{
    width: 17%;
    margin-left: 15px;
}